page-entitygroup {

}

.card { 
    border-radius : 10px; 
    position: relative;
    text-align: center;
}

.card-title {
    position: absolute;
    bottom: 5%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: rgb(5, 5, 5);
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    bottom: 80%;
    width: 100%;
    color: rgb(2, 27, 248);
  }
