<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="starkeUserTypes">
            <h2><span>Starke User Types</span> {{starkeUserTypes.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Usertypeid</span></dt>
                <dd>
                    <span>{{starkeUserTypes.usertypeid}}</span>
                </dd>
                <dt><span>Typename</span></dt>
                <dd>
                    <span>{{starkeUserTypes.typename}}</span>
                </dd>
                <dt><span>Usertypedescription</span></dt>
                <dd>
                    <span>{{starkeUserTypes.usertypedescription}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/starke-user-types-my-suffix', starkeUserTypes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
