<ion-header >
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Starke Home</ion-title>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding class="itemheader">
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
      <ion-list *ngFor="let starkeEntity of starkeEntities; trackBy: trackId; let i = index;" >
          
          
              <ion-card class="card rounded" (click)="navigatepage()">
                
                    <div class="card-title">{{starkeEntity.entityname}}</div>
                    <!-- <p>{{starkeEntity.entitybriefdescription}}</p> -->
                
                <ion-avatar *ngIf="starkeEntity.entityimage" >
                    <img [src]="'data:' + starkeEntity.entityimageContentType + ';base64,' + starkeEntity.entityimage" />
                    <!-- <p *ngIf="starkeEntity.entityimage">{{starkeEntity.entityimageContentType}}, {{byteSize(starkeEntity.entityimage)}}</p> -->
                </ion-avatar>
                
                <ion-card-content>
                    <p>{{starkeEntity.entitybriefdescription}}</p>
                </ion-card-content>
              </ion-card>
          
          
      </ion-list>
    </ion-grid>
    <ion-item *ngIf="!starkeEntities?.length">
        No Starke Entities found.
    </ion-item>
</ion-content>