<ion-header >
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Starke Home</ion-title>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding class="itemheader">
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngFor="let starkeEntity of starkeEntities; trackBy: trackId" >
            <ion-card class="card rounded">
                <ion-item>
                    <h2>{{starkeEntity.entityname}}</h2>
                    <p>{{starkeEntity.entitybriefdescription}}</p>
                </ion-item>
                
                <ion-avatar *ngIf="starkeEntity.entityimage" >
                    <img [src]="'data:' + starkeEntity.entityimageContentType + ';base64,' + starkeEntity.entityimage" />
                    <p *ngIf="starkeEntity.entityimage">{{starkeEntity.entityimageContentType}}, {{byteSize(starkeEntity.entityimage)}}</p>
                </ion-avatar>
                
                <ion-card-content>
                    <p>{{starkeEntity.entitybriefdescription}}</p>
                </ion-card-content>
                
                <ion-row>
                    <ion-col>
                    <button ion-button icon-start clear small>
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>12 Likes</div>
                    </button>
                    </ion-col>
                    <ion-col>
                    <button ion-button icon-start clear small>
                        <ion-icon name="text"></ion-icon>
                        <div>4 Comments</div>
                    </button>
                    </ion-col>
                    <ion-col center text-center>
                        <ion-note>
                            11h ago
                        </ion-note>
                    </ion-col>
                </ion-row>
            </ion-card>
        
    </ion-list>
    <ion-item *ngIf="!starkeEntities?.length">
        No Starke Entities found.
    </ion-item>
</ion-content>