.trash {
  position: absolute;
  margin-left: 205px;
  margin-top: -125px;
  color: red;
  font-size: 16px;
}
.itemheader {
  background-color: rgb(255, 255, 255);
}

.card { 
  border-radius : 10px; 
}

.columns
{
  height: 100%;
  display: block;
  background-color: rgb(255, 255, 255);
}

.rowclass
{
  background-color: rgb(255, 255, 255);
}

.img-background {
  background-image: url('assets/img/navigation_main.jpg');
}
.toolbar-class{
  background-color: rgb(112, 112, 112);
  color: rgb(255, 255, 255);
}

