<div>
    <h2 id="page-heading">
        <span>Entity Reviews</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entity-reviews-my-suffix" [routerLink]="['/entity-reviews-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Entity Reviews
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="entityReviews">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Rating</span></th>
            <th><span>Reviewid</span></th>
            <th><span>Entityid</span></th>
            <th><span>Reviewdate</span></th>
            <th><span>Userid</span></th>
            <th><span>Subject</span></th>
            <th><span>Detail</span></th>
            <th><span>Ismarked</span></th>
            <th><span>Isdeleted</span></th>
            <th><span>Starke Entity</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entityReviews of entityReviews ;trackBy: trackId">
                <td><a [routerLink]="['/entity-reviews-my-suffix', entityReviews.id, 'view' ]">{{entityReviews.id}}</a></td>
                <td>{{entityReviews.rating}}</td>
                <td>{{entityReviews.reviewid}}</td>
                <td>{{entityReviews.entityid}}</td>
                <td>{{entityReviews.reviewdate | date:'mediumDate'}}</td>
                <td>{{entityReviews.userid}}</td>
                <td>{{entityReviews.subject}}</td>
                <td>{{entityReviews.detail}}</td>
                <td>{{entityReviews.ismarked}}</td>
                <td>{{entityReviews.isdeleted}}</td>
                <td>
                    <div *ngIf="entityReviews.starkeEntityId">
                        <a [routerLink]="['../starke-entity-my-suffix', entityReviews.starkeEntityId , 'view' ]" >{{entityReviews.starkeEntityId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/entity-reviews-my-suffix', entityReviews.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/entity-reviews-my-suffix', entityReviews.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entity-reviews-my-suffix/'+ entityReviews.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
